.title{
  margin-top: 20px;
  text-align: center;
  color: rgba(63, 18, 7, 0.589);
  font-family: 'Architects Daughter', 'sans-serif';
}

.auth-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.have-account {
  text-align: center;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
