<div ngClass="title">
  <h1>
    Login to the Montecarlo App!
  </h1>
</div>
<div ngClass="auth-container">
  <div *ngIf="haveAccount; else notLoggedIn">
    <app-signin-form></app-signin-form>
    <div ngClass="have-account">
      <a (click)="haveAnAccount()">Don't have an account?</a>
    </div>
  </div>
  <ng-template #notLoggedIn>
    <app-signup-form></app-signup-form>
    <div ngClass="have-account">
      <a (click)="haveAnAccount()">Have an account?</a>
    </div>
  </ng-template>
</div>
